[submodule "simics-7-packages-2025-38-linux64"]
	path = simics-7-packages-2025-38-linux64
	url = https://github.com/fenghaitao/simics-7-packages-2025-38-linux64
[submodule "astchunk"]
	path = astchunk
	url = https://github.com/wangli-ustc/astchunk.git
[submodule "tree-sitter-dml"]
	path = tree-sitter-dml
	url = https://github.com/wangli-ustc/tree-sitter-dml.git
[submodule "unstructured"]
	path = unstructured
	url = https://github.com/wangli-ustc/unstructured.git
